

<div id="play">
    {{>color-background}}
    {{>header}}
    {{>question-header}}
    <h5 class="question brackit-question title-text">{{candidates.0.question}}</h5>
    <p class="primary-text body-pos-6">tap to select or switch between choices, then hit vote when you’re ready!</p>
    <button class= "choice cand1" data-id="{{candidates.0.candidateId}}"><h6 class="cand-1 matchup-cand-a primary-text">{{candidates.0.candidateName}}</h6></button>
    <button class="choice cand2"  data-id="{{candidates.1.candidateId}}"><h6 class="cand-2 matchup-cand-b primary-text">{{candidates.1.candidateName}}</h6></button>
    <button class="pick-cand brackit-blue vote-btn primary-text">vote</button>
    <p class="timer round-pos timer-pos brackit-coral primary-text">5</p>
    <p class="coral-text round-pos">round[<span class="blue-text" id="round-num" data-num="{{candidates.0.roundNumber}}">{{candidates.0.roundNumber}}</span>]</p>

</div>

<script src="/js/socket.js"></script>

