<div id="play">

    <header>brack[<span id="round-num" data-num="{{candidates.0.roundNumber}}">{{candidates.0.roundNumber}}</span>]</header>

    <section>
        <h5 class="question">{{candidates.0.question}}</h5>
        <button class="choice cand1"><h6 data-id="{{candidates.0.candidateId}}">{{candidates.0.candidateName}}</h6></button>
        <button class="choice cand2"><h6 data-id="{{candidates.1.candidateId}}">{{candidates.1.candidateName}}</h6></button>
        <button class="pick-cand">brack[it]!</button>
        <p class="timer">5</p>
    </section>


</section>